<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Add Invoice</div>
    <div class="panel-body">
      <form class="form" method="post" ng-submit="saveInvoice()" name="addForm">
        <div class="form-group" ng-class="{ 'has-success' : addForm.refNo.$valid && addForm.refNo.$dirty, 
        'has-error' : addForm.refNo.$invalid && addForm.refNo.$dirty }">
          <input class="form-control" type="text" name="refNo" ng-model="entity.refNo" placeholder="Enter Invoice Reference No" required autofocus>
          <div class="help-block text-danger" ng-if="addForm.refNo.$dirty" ng-messages="addForm.refNo.$error">
            <div ng-message="required">Invoice Reference No is required.</div>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-success' : addForm.buyerName.$valid && addForm.buyerName.$dirty, 
        'has-error' : addForm.buyerName.$invalid && addForm.buyerName.$dirty }">
          <input class="form-control" type="text" name="buyerName" ng-model="entity.buyerName" placeholder="Enter Buyer Name" required>
          <div class="help-block text-danger" ng-if="addForm.buyerName.$dirty" ng-messages="addForm.buyerName.$error">
            <div ng-message="required">Buyer name is required.</div>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-success' : addForm.invoiceImage.$valid && addForm.invoiceImage.$dirty, 
        'has-error' : addForm.invoiceImage.$invalid && addForm.invoiceImage.$dirty }">
          <input class="form-control" type="file" name="invoiceImage" file-model="entity.invoiceImage" required>
          <div class="help-block text-danger" ng-if="addForm.invoiceImage.$dirty" ng-messages="addForm.invoiceImage.$error">
            <div ng-message="required">Invoice image is required.</div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit" ng-disabled="addForm.$invalid">Save</button>
      </form>
    </div>
  </div>
</div>
<div class="container" ng-include="'/views/listInvoices.html'">