<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="media">
        <div class="pull-left">
          <!--<img class="media-object img-rounded" ng-src="{{invoice.imagePath}}">-->
          <!--<qrcode data="{{invoice.refNo}}"></qrcode>-->
          
          <qrcode data="{{invoice.refNo}}" version="2" error-correction-level="Q" size="200" color="#fff" background="#000" download></qrcode>
        </div>
        <div class="media-body">
          <h2 class="media-heading">
            {{invoice.refNo}}
          </h2>

          <p>{{invoice.buyerName}}</p>

         <div class="text-center">
          <img class="img-rounded" ng-src="{{invoice.imagePath}}" style="width:500px;height:800px;border:1px solid grey;"/>
         </div>

        </div>
      </div>
    </div>
  </div>
</div>